body {
    font-family: Arial, sans-serif;
}

#quiz-container {
    width: 300px;
    margin: 0 auto;
}

#choices {
    margin: 20px 0;
}

button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}